<h1> How many words: {{ lenwordlist}} words </h1>

<a href= "https://google.com"> Go to Google </a>
<br/>

<a href="{% url 'homepageurlname' %}"> Start Another Count </a>

<!--
<a href= "https//google.com"> Go to Google </a>

if eta ditam then:

Request URL:	http://127.0.0.1:8000/count/https//google.com

NOT FOUND

-->
<br />
<h2> Your Text: </h2>

<h3>


<!-- FOCUS 'reftext' is the KEY; er bodole fulltext or oi string ta print hobe; fulltext = VALUE -->
{{reftext}}

</h3>

<!-- key= word ; value= counttotal -->

{% for word, counttotal in refsortedlist %}

{{word}}  &nbsp    &nbsp  &nbsp
{{counttotal}}
<br/>

{% endfor %}
